# 1. Utilizando biblioteca: a biblioteca ``math``

Vamos ver agora como importar bibliotecas no notebook.

O que é uma biblioteca? Uma biblioteca contém códigos prontos para serem usados.

Uma biblioteca muito útil é a ``math``, que contém várias funções e constantes matemáticas.

Veja como importar a biblioteca ``math``:

In [1]:
import math

A ``math ``contém algumas constantes como $\pi$ e a de Euler $e$ (aproximações para essas constantes, é claro).

Veja como acessá-las:

In [2]:
math.pi

3.141592653589793

In [3]:
math.e

2.718281828459045

Para usar as funções matemáticas da ``math``, colocamos os **parâmetros** da função entre ``(`` e ``)``.

Veja como calcular $3!$:

In [4]:
math.factorial(3)

6

### Exercício:
Use a função acima para calcular $10!$

In [5]:
# Sua resposta
math.factorial(10)

3628800

Veja um exemplo com a fórmula de Bhaskara (com apenas uma das raízes).

A função ``math.sqrt(x)`` calcula o valor da raiz quadrada de ``x``.

OBS: O que a função recebe como parâmetro pode ser uma expressão

### Exercício:

Calcule a segunda raiz usando a fórmula de Bhaskara.

Para refrescar sua memória:

As raízes de  $ax^2 + bx + c = 0$ são:

$\frac{-b + \sqrt{\Delta}}{2a}$ e $\frac{-b - \sqrt{\Delta}}{2a}$

onde $\Delta = b^2 - 4ac$ (e elas só existem se $\Delta\geq 0$).

In [10]:
# Sua resposta
a = 2
b = 5
c = 2

delta = b*b - 4*a*c
raiz_neg = (-b-math.sqrt(delta))/(2*a)
raiz_pos = (-b+math.sqrt(delta))/(2*a)
if raiz_pos > raiz_neg:
  print(raiz_pos)
else:
  print(raiz_neg)

-0.5

Algumas funções precisam de mais de um parâmetro.

Por exemplo, a função ``math.gcd(x,y)`` calcula o valor do máximo divisor comum (mdc) entre ``x`` e ``y``.

In [ ]:
math.gcd(35,28)

O uso de bibliotecas ilustra dois conceitos importantes em Computação:
* **modularização**: ao invés de escrevermos todo o código de uma vez em um só lugar, o código é dividido em partes;
* **reutilização**: não precisamos escrever o código do zero toda vez que programamos.

### Exercício:

Calcule o mínimo múltiplo comum (mmc) entre $35$ e $28$.

Dica: use a fórmula
$$\text{mmc}(x,y) = \frac{xy}{\text{mdc}(x,y)}$$

In [13]:
# Sua resposta
x = 35
y = 28
print((x*y)/math.gcd(x,y))

140.0

**Aqui está uma lista das funções e constantes na** [``math``](https://docs.python.org/3.6/library/math.html)

<hr>

# 2. Exibindo mensagens
A função ``print`` é utilizada para mostrar mensagens/valores na tela.

A mensagem é colocada entre parênteses ``(`` e ``)``.

Veja o resultado da execução das células abaixo.

In [48]:
print(120)

120

Quando a mensagem é um **texto**, ela deve estar escrita **entre aspas** como a seguir.

In [49]:
print("Olá! Como vai?")

Olá! Como vai?

**Podemos misturar números e textos na mensagem. Basta separá-los por vírgulas**:

*Observação:* Note que esta vírgula cria um espaço em branco, ou seja, é adicionado um espaço em branco após o ``?`` abaixo.

In [50]:
print("Olá! Como vai?", 120)

Olá! Como vai? 120

**Podemos colocar várias mensagens e valores separando-los por vírgulas:**

*Observação:* Note que no exemplo abaixo é adicionado um espaço em branco entre textos (mensagens) e valores também.

In [15]:
print("Olá! Como vai?",120,"Vou bem, obrigado!",201)

Olá! Como vai? 120 Vou bem, obrigado! 201

A função `print ` adiciona uma quebra-de-linha/enter ao fim da mensagem.

Veja o que acontece com duas chamadas de `print` seguidas:

In [14]:
print("Olá! Como vai?",120)
print("Vou bem, obrigado!",201)

Olá! Como vai? 120
Vou bem, obrigado! 201

**Podemos também usar variáveis nas mensagens:**

In [16]:
C = 120
print("Olá! Como vai?", C)

Olá! Como vai? 120

**Podemos até fazer operações:**

In [17]:
C = 120
print("Olá! Como vai?", (C+C*31)/2)

Olá! Como vai? 1920.0

**Quando o número a ser exibido é um número com várias casas decimais, podemos definir quantas casas decimais serão mostradas.**

**Note que ao invés da vírgula usamos agora o símbolo**``%``:

In [18]:
C = 120.994901
print("O valor da variável C é %.2f" % C)

O valor da variável C é 120.99

Aqui note que o **%.2f** é substituído pelo valor da variável C arredondada para **2 casas decimais**.

%.2f:
- %: indica onde deve aparecer o valor da variável especificada em seguida
- f: indica que queremos mostrar um número que pode ter casas decimais
- .2: indica que queremos 2 casas depois da vírgula

Assim para mostrar 4 casas decimais:

In [51]:
C = 120.994901
print("O valor da variável C é %.4f"% C)

O valor da variável C é 120.9949

## Transformando os valores em INTEIRO ou VALOR COM CASAS DECIMAIS (número de ponto flutuante)
O comando `print()` é utilizado para mostrar mensagens/valores na tela.

O comando `int(x)` transforma o valor de x em inteiro.

O comando `float(x)` transforma o valor de x em um número com casas decimais (ou seja, número de ponto flutuante).

Veja exemplos:

In [19]:
C1 = 1202.54
C2 = int(C1) # transforma o valor de C1 em inteiro e atribui este valor à variável C2
print(C2)

1202

Ou (equivalente):

In [20]:
print(int(1202.54))

1202

Para transformar um número inteiro em um número com casas decimais:

In [21]:
print(float(122))

122.0

## Para imprimir um número com casas decimais sem a parte decimal, ou seja, descartando os valores das casas decimais:

O comando %.0f NÃO funciona

Comando %.0f pode arredondar tanto pra cima como para baixo dependendo do valor, mas se você não sabe o valor a priori, você não sabe se ele vai arredondar para cima ou para baixo.

Assim, em vez de usar :

In [22]:
print("%.0f" %1202.54)

1203

Para  imprimir o número  1202.54 sem a parte decimal, pode ser usado o comando `int(x) ` que transforma o valor x em inteiro:

In [ ]:
print(int(1202.54))

1202

Ou então o comando ` math.floor() `:

Retorna o **piso** de x, o maior inteiro menor ou igual a x.

In [23]:
import math                     # para usar math.floor precisamos importar biblioteca math
print (math.floor(1202.54))

1202

---

# 3. Recebendo/Lendo dados

Na Unidade 1, a entrada de dados foi feita diretamente no programa, atribuindo um valor fixo para variável.

Nesta unidade veremos **como receber dados do usuário (que ele digita via teclado)**.

**Para receber dados do usuário, utilizamos a função ``input``.**


É sempre bom exibir para o usuário a mensagem que explica qual dado ele deve digitar. **O texto de mensagem deve ficar entre aspas duplas**, ou seja,

**``input("texto_da_mensagem")``**

Execute a célula abaixo. Deve aparecer uma caixa para você digitar o valor de C.
Após digitar o valor para C, pressione a tecla enter.

In [24]:
C = input("Digite a temperatura em Celsius: ") # Eh exibido texto "Digite a temperatura em Celsius" para o suario.
                                               # O que usuario digitar eh atribuido a variavel C

Digite a temperatura em Celsius: 6

In [25]:
print("A temperatura digitada é", C ,"graus Celsius") # Imprima o texto (que esta entre aspas duplas), o conteudo da variavel C, e o segundo texto

A temperatura digitada é 6 graus Celsius

**O `input ` considera como padrão o que usuário digita como um texto.**

Abaixo digite 10 como o valor para C.

Veja o que acontece quando tentamos calcular C+C.

In [26]:
C = input("Digite a temperatura em Celsius: ")
print("A temperatura digitada é", C,"graus Celsius")
D = C+C
print("C+C é", D)

Digite a temperatura em Celsius: 10
A temperatura digitada é 10 graus Celsius
C+C é 1010

O valor de D é 1010 quando o valor de C é 10. Por quê?

É porque, **quando lidamos com textos, a operação ``+`` é a operação de concatenar (grudar) os textos.**

Ou seja D é ``"10"+"10"``, que é ``"1010"``.

Para que C seja considerado como número, **temos que fazer uma conversão**.

Abaixo recebemos o valor na variável ``C_texto`` e **convertemos texto para um número que possivelmente pode ter casas decimais**.

**Este tipo de número é chamado de ``float``**.

In [27]:
C_texto = input("Digite a temperatura em Celsius: ")
C = float(C_texto)
print("A temperatura digitada é",C,"graus Celsius")
D = C+C
print("C+C é", D)

Digite a temperatura em Celsius: 10
A temperatura digitada é 10.0 graus Celsius
C+C é 20.0

Na verdade, podemos usar a própria variável ``C`` como a seguir:

In [28]:
C = input("Digite a temperatura em Celsius: ")
C = float(C)
print("A temperatura digitada é",C,"graus Celsius")
D = C+C
print("C+C é", D)

Digite a temperatura em Celsius: 10
A temperatura digitada é 10.0 graus Celsius
C+C é 20.0

Ou até mesmo, fazer em uma única linha (juntar as primeiras duas linhas de código acima em uma única linha):

In [ ]:
C = float(input("Digite a temperatura em Celsius: "))
print("A temperatura digitada é",C,"graus Celsius")
D = C+C
print("C+C é", D)

Você pode usar qual opção preferir. É bem comum fazer em uma única linha.

Veja mais um exemplo.

Suponha que você queira dividir $d$ reais igualmente entre $n$ pessoas.

Nesse caso, $d$ é um número possivelmente com casas decimais e $n$ é um número inteiro.

**Para números inteiros, ao invés de ``float``, usamos ``int``**:

In [ ]:
d = float(input("Digite a quantidade de dinheiro: "))
n = int(input("Digite o número de pessoas."))
r = d/n
print("Cada pessoa vai receber",r,"reais")

## Exercício: quilômetros percorridos

Considere um carro com tanque com capacidade $C$ em litros e eficiência $E$ em km/litro. Queremos saber quantos quilômetros o carro anda com $C$ litros (assumindo que a eficiência vai ser exata).

Faça um programa que
- Recebe o valor de $C$
- Recebe o valor de $E$
- Mostre a resposta formatada com duas casas decimais como neste exemplo:
O carro vai andar 256.79 quilômetros.

In [53]:
C = float(input("Digite a quantidade de litros"))
E = float(input("Digite o valor da eficiência (km/litro)"))
print("O carro vai andar %.2f quilômetros" % (C*E))

Digite a quantidade de litros10
Digite o valor da eficiência (km/litro)26
O carro vai andar 260.00 quilômetros

<hr>

# 4. Condicionais em Python

Uma das habilidades fundamentais quando estamos aprendendo a programar é conseguir traduzir nossos processos mentais em um programa de computador.

Vamos ver um exemplo simples.

Suponha que você queira comprar um pacote de farinha e existem duas opções de tamanho:
* pacotes de 3kg
* pacotes de 5kg.

Suponha que você não se importe tanto em comprar 3kg ou 5kg: o que você quer é comprar a **melhor oferta** (ou seja, a opção com melhor custo-benefício).

> O que você faz?

Em geral, sabemos que o pacote maior costuma valer mais a pena.

No entanto, muitas vezes isso não é verdade!

> Se o pacote de 5kg custa 18 reais e o pacote de 3kg custa 10 reais, qual vale mais a pena?

Acho que você provavelmente faria a conta de quantos reais são pagos por quilo:

* 18 reais / 5kg = 3.6 reais/kg
* 10 reais / 3kg = 3.33 reais/kg

Aqui o custo-benefício é melhor para o pacote de 3kg.

> Se o pacote de 5kg custa 16 reais e o pacote de 3kg custa 10 reais, qual vale mais a pena?

* 16 reais / 5kg = 3.2 reais/kg
* 10 reais / 3kg = 3.33 reais/kg

Agora o pacote de 5kg vale mais a pena.

Então dá para perceber que o processo é sempre o mesmo:

1) Calcular preço do kg para o pacote de 5 kg: preço/5

2) Calcular preço do kg para o pacote de 3kg: preço/3

3) Escolher o menor entre os dois.

> Como transformar esse processo em um programa?

Veja os primeiros dois passos.

Pedimos para o usuário digitar os preços. Teste com
- 18 reais para o pacote de 5kg e
- 10 reais para o pacote de 3kg.

In [ ]:
preco5 = float(input("Digite o preço do pacote de 5kg: "))
preco3 = float(input("Digite o preço do pacote de 3kg: "))
razao5 = preco5 / 5
razao3 = preco3 / 3
print("O preço por kg do pacote de 5kg é", razao5)
print("O preço por kg do pacote de 3kg é", razao3)

> E o passo 3?

3) Escolher o menor entre os dois.

Este passo depende dos valores calculados para ``razao5`` e ``razao3``.

> Como fazer o programa lidar com isso sozinho?

<hr>

## O comando ``if``

Digamos que queremos mostrar uma mensagem no caso de ``razao3`` ser menor.

No caso de ``razao5`` ser menor, não vamos fazer nada por enquanto.

Usamos o comando ``if``:

In [54]:
if razao3 < razao5:
  print("A segunda opção é melhor")

A segunda opção é melhor

E o nosso programa inteiro ficaria assim:

In [59]:
preco5 = float(input("Digite o preço do pacote de 5kg: "))
preco3 = float(input("Digite o preço do pacote de 3kg: "))
razao5  = preco5 / 5
razao3 = preco3 / 3
print("O preço por kg do pacote de 5kg é", razao5)
print("O preço por kg do pacote de 3kg é", razao3)
if razao3 < razao5:
  print("A segunda opção é melhor")

Digite o preço do pacote de 5kg: 4
Digite o preço do pacote de 3kg: 1
O preço por kg do pacote de 5kg é 0.8
O preço por kg do pacote de 3kg é 0.3333333333333333
A segunda opção é melhor

É importante notar que o nosso processo de decidir qual pacote tem o melhor custo-benefício funciona para quaisquer dados (válidos) que o usuário digitar.

## Exercício:

Modificar o exemplo para que,
- se o pacote com 5 kg for a melhor oferta, imprimir "A primeira opção é melhor"
- se ambas as ofertas forem iguais, imprimir "Ambas as opções são equivalentes"

**Dica:** Use `==` no lugar de `>` ou `<`

In [62]:
# Sua resposta
preco5 = float(input("Digite o preço do pacote de 5kg: "))
preco3 = float(input("Digite o preço do pacote de 3kg: "))

razao5  = preco5 / 5
razao3 = preco3 / 3

print("O preço por kg do pacote de 5kg é", razao5)
print("O preço por kg do pacote de 3kg é", razao3)

if razao3 < razao5:
  print("A segunda opção é melhor")
if razao3 > razao5:
  print("A primeira opção é melhor")
if razao5 == razao3:
  print("Ambas as opções são equivalentes")

Digite o preço do pacote de 5kg: 10
Digite o preço do pacote de 3kg: 24
O preço por kg do pacote de 5kg é 2.0
O preço por kg do pacote de 3kg é 8.0
A primeira opção é melhor

## Estrutura do comando ``if``

O comando ``if`` tem a seguinte estrutura:

(**IMPORTANTE: Observe o espaçamento na frente de comandos dentro de comando ``if``**)

Se a condição é verdadeira, os comando são executados

```
if condicao:
  comandos
  comandos
  comandos
```

Vamos ver um exemplo:

In [63]:
a = 2
b = 3
if a<b:
  print("A condição vale!")
  print(a,"<", b)

A condição vale!
2 < 3

No nosso caso, a condição é ``a < b`` que vale
- ``True`` se o valor de ``a`` é menor que se o valor de ``b``  e
- ``False`` caso contrário.

Como, no exemplo, ``a=2`` e ``b=3``, a condição vale.

Veja aqui:

In [64]:
a < b

True

**Observação 1:** Na tabela abaixo estão todos os operadores de comparação em Python.

![Captura de Tela 2020-12-29 às 03.04.56.png]()

**Observação 2:**

**Note que, após a condição no ``if``, colocamos um ``:`` (dois-pontos)**

```if a < b:```

**Em seguida, colocamos os comandos a serem executados quando a condição é verdadeira**


No nosso caso, temos dois comandos:
```
  print("A condição vale!")
  print(a,"<", b)
```

mas poderíamos ter incluído mais comandos!

## Exercício

Modifique o código de modo que a condição seja falsa (e nada deve ser impresso!)

In [69]:
# Sua resposta
a = 3
b = 2
if a<b:
  print("A condição vale!")
  print(a,"<", b)


## Importante!!
**Todos os comandos a serem executados quando a condição é verdadeira são identificados pelo número de espaços no começo da linha**.

  Eles devem estar **deslocados para a direita**.

No código a seguir, o comando ``print(a,"<", b)`` está fora do bloco do ``if``.

Veja como a execução fica errada.

100 não é menor que 3, e portanto o programa não deve executar nada. Mas, ele imprime  "100 < 3" somente pois a última linha não é descolada para a direita, e portanto esta linha não faz  parte do bloco do `if`:

In [70]:
a = 100
b = 3
if a<b:
  print("A condição vale!")
print(a,"<", b) # esta linha nao eh deslocada para a direita e portanto na faz parte de bloco do if

100 < 3


O uso de espaços no código é chamado de **indentação**.

Na maioria das linguagens, a indentação tem um papel de organização/estético, mas em Python o uso correto de indentação é crucial.

**Colocar espaços extras ou a menos no começo das linhas pode causar muitos problemas!**

Para deslocar o seu código para a direita é melhor usar o ``TAB``, mas você pode usar a tecla de espaço em branco também (em Notebook os espaços em branco são colocados automaticamente depis de comando if).

<hr>

# 5. Os comandos ``if`` / ``else``

No exemplo para os pacotes de farinha, mostramos uma mensagem apenas no caso em que ``razao3 < razao5``.

Podemos usar o comando ``else`` para lidar com o caso oposto.

In [ ]:
preco5 = float(input("Digite o preço do pacote de 5kg: "))
preco3 = float(input("Digite o preço do pacote de 3kg: "))
razao5  = preco5 / 5
razao3 = preco3 / 3
print("O preço por kg do pacote de 5kg é", razao5)
print("O preço por kg do pacote de 3kg é", razao3)
if razao3 < razao5:
  print("A segunda opção é melhor.")
else:
  print("A primeira opção é melhor.")

**Os comandos dentro do bloco do ``else`` só serão executados se a condição do ``if`` for falsa.**

> Mas, ao invés de ``if/else``, dava para usar dois ``if``'s?

Sim. Logicamente não faz diferença:

In [71]:
preco5 = float(input("Digite o preço do pacote de 5kg: "))
preco3 = float(input("Digite o preço do pacote de 3kg: "))
razao5  = preco5 / 5
razao3 = preco3 / 3
print("O preço por kg do pacote de 5kg é", razao5)
print("O preço por kg do pacote de 3kg é", razao3)
if razao3 < razao5:
  print("A segunda opção é melhor.")
if razao3 >= razao5:
  print("A primeira opção é melhor.")

Digite o preço do pacote de 5kg: 56
Digite o preço do pacote de 3kg: 33
O preço por kg do pacote de 5kg é 11.2
O preço por kg do pacote de 3kg é 11.0
A segunda opção é melhor.

Mas, **sempre que puder, use o ``else``.**

**O código fica mais fácil de ler e tem menos chance de cometermos um erro.**

<hr>

## O comando ``elif``


Agora suponha que você considera que é um **empate** no caso em que a diferença de ``razao3`` e ``razao5`` seja de até 1 centavo.

Vamos usar o comando ``elif``.

In [66]:
preco5 = float(input("Digite o preço do pacote de 5kg: "))
preco3 = float(input("Digite o preço do pacote de 3kg: "))
razao5  = preco5 / 5
razao3 = preco3 / 3
print("O preço por kg do pacote de 5kg é", razao5)
print("O preço por kg do pacote de 3kg é", razao3)

if razao3 < razao5-0.01:
  print("A segunda opção é melhor.")
elif razao5 < razao3-0.01:
  print("A primeira opção é melhor.")
else:
  print("Empate")

Digite o preço do pacote de 5kg: 5
Digite o preço do pacote de 3kg: 3
O preço por kg do pacote de 5kg é 1.0
O preço por kg do pacote de 3kg é 1.0
Empate

Agora o programa faz assim:
- Primeiro ele checa se ``razao3 < razao5-0.01``.

  Se é verdade, então ele executa ``print("A segunda opção é melhor.")``.
  Ele não checa a condição do ``elif`` e não executa o ``else``.

- Se ``razao3 < razao5-0.01`` não vale, então ele checa a condição no ``elif``. Ou seja, se ``razao5 < razao3-0.01``
  Se for verdadeiro, ele executa ``print("A primeira opção é melhor.")``

- Se nenhuma condição do ``if`` e do ``elif`` vale, ele executa o que está no ``else`` (se houver ``else``).

Podemos usar vários ``elif``'s!

### Exercício:

Suponha que queremos converter uma nota para conceito com as seguintes regras:
* $nota \geq 95$: conceito A
* $80 \leq nota < 95$: conceito B
* $60 \leq nota < 80$: conceito C
* $50 \leq nota < 60$: conceito D
* $nota < 50$: conceito F

Escreva o código para resolvê-lo:

In [74]:
nota = int(input("Nota final: "))
if nota > 95:
  print("A")
elif nota >= 80:
  print("B")
elif nota >= 60:
  print("C")
elif nota >= 50:
  print("D")
else:
  print("F")

Nota final: 94
B

<hr>

# 6. Operadores lógicos `and ` e `or `

Suponha que, no nosso exemplo dos pacotes de farinha, agora tenhamos 3 tipos de pacotes:
* Pacotes de 1kg
* Pacotes de 3kg
* Pacotes de 5 kg

Agora temos as seguintes possibilidades:
- Se ``razao3 <= razao5`` **E** ``razao3 <= razao1``, então o pacote com 3 kgs é a melhor oferta
- Se ``razao5 <= razao3`` **E** ``razao5 <= razao1``,  então o pacote com 5 kgs é a melhor oferta:
- Se nenhuma das opções acima vale, então a melhor oferta é o pacote com 1 kg.

Então combinamos as condições usando ``and`` como a seguir.

In [35]:
preco5 = float(input("Digite o preço do pacote de 5kg: "))
preco3 = float(input("Digite o preço do pacote de 3kg: "))
preco1 = float(input("Digite o preço do pacote de 1kg: "))

razao5  = preco5 / 5
razao3 = preco3 / 3
razao1 = preco1 / 1

print("O preço por kg do pacote de 5kg é", razao5)
print("O preço por kg do pacote de 3kg é", razao3)
print("O preço por kg do pacote de 1kg é", razao1)

if razao3 <= razao5 and razao3 <= razao1:
  print("Melhor comprar o pacote 3.")
elif razao5 <= razao3 and razao5 <= razao1:
  print("Melhor comprar o pacote 5.")
else:
  print("Melhor comprar o pacote 1.")

Digite o preço do pacote de 5kg: 35
Digite o preço do pacote de 3kg: 26
Digite o preço do pacote de 1kg: 11
O preço por kg do pacote de 5kg é 7.0
O preço por kg do pacote de 3kg é 8.666666666666666
O preço por kg do pacote de 1kg é 11.0
Melhor comprar o pacote 5.

**``condicao1 and condicao2``  
vale verdadeiro quando ambas as condições valem ao mesmo tempo:**

In [42]:
1 < 2 and 3==3

True

In [43]:
1 < 2 and 3>4

False

Podemos unir condições usando também um ``or``

**``condicao1 or condicao2``**

**vale verdadeiro quando pelo menos uma das condições é verdadeira (inclusive quando ambas são verdadeiras):**

In [44]:
1 < 2 or 3==3

True

In [45]:
1 < 2 or 3>4

True

In [46]:
1 > 2 or 3>4

False

## Exercício
Atribua valores para $a$, $b$ e $c$ para obter ``True``.

In [37]:
a = -15
b = 100
c = 100
a <= b and b==c

True

In [38]:
a = 10
b = 12
c = 14
a < b and b<c

True

In [39]:
a = 1
b = 1
c = 1
a <= b or b==c

True

## Exercício
Atribua valores para $a$ e $b$ para obter ``False``.

In [40]:
a = -1
b = 2
c = 5
a == b or b==c or a==c

False

In [41]:
a = 100
b = 10
c = 1
a <= b or a<=c

False

## Exercício

Modifique o código abaixo supondo que ao invés de melhor custo-benefício, você quer comprar o pacote com o pior custo-benefício.

Ou seja, com o valor de real por quilo mais caro.

In [36]:
# Sua resposta
preco5 = float(input("Digite o preço do pacote de 5kg: "))
preco3 = float(input("Digite o preço do pacote de 3kg: "))
preco1 = float(input("Digite o preço do pacote de 1kg: "))
razao5  = preco5 / 5
razao3 = preco3 / 3
razao1 = preco1 / 1
print("O preço por kg do pacote de 5kg é", razao5)
print("O preço por kg do pacote de 3kg é", razao3)
print("O preço por kg do pacote de 1kg é", razao1)
if razao3 <= razao5 and razao3 <= razao1:
  print("Melhor comprar o pacote 3.")
elif razao5 <= razao3 and razao5 <= razao1:
  print("Melhor comprar o pacote 5.")
else:
  print("Melhor comprar o pacote 1.")

Digite o preço do pacote de 5kg: 2
Digite o preço do pacote de 3kg: 1
Digite o preço do pacote de 1kg: 0.2
O preço por kg do pacote de 5kg é 0.4
O preço por kg do pacote de 3kg é 0.3333333333333333
O preço por kg do pacote de 1kg é 0.2
Melhor comprar o pacote 1.

# Observação

Recomenda-se executar todos os programas desta unidade com pelo menos três  entradas diferentes (digitados via teclado) e comparar os resultados obtidos com os resultados esperados.